* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
Utility
**********************/
:root {
    --color-white: #FFFFFF;
    --bg-discount: #EB0037;
    --bg-sostenibilità: #00875A;
    --color-red: #FF0000;
}





/* 
main
**********************/






