* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
Utility
**********************/
:root {
    --color-white: #FFFFFF;
    --bg-discount: #EB0037;
    --bg-sostenibilità: #00875A;
    --color-red: #FF0000;
}



/* 
tag
**********************/
header {
    color: var(--color-white);
    background-color: #080808;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

footer {
    color: var(--color-white);
    background-color: #080808;
    text-align: center;
    padding: 2rem;
}

/* 
header
**********************/
header > .logo {
    font-size: 2.5rem;
    text-align: center;
}

.logo-discount {
    color: var(--color-white);
    font-size: 2rem;
    border: 3px solid var(--bg-discount);
    padding: 0.4rem 1rem;
    transition: .5s ease;
    display: none;
}

header:hover .logo-discount {
   display: inline;
}

/* 
main
**********************/
.container {
    width: 60%;
    margin: 5rem auto 2rem;
    padding: 1rem;
    vertical-align: middle;
}

.box {
    display: inline-block;
}

.box img {
    width: auto;
    height:500px;
}

.img-box {
    margin: 0 0.1rem;
    display: inline-block;
    position: relative;
}

.img-box > .icon {
    font-size: 1.5rem;
    background-color: var(--color-white);
    padding: 0.25rem 0.75rem;
    position: absolute;
    top: 1rem;
    right: 0;    
}

.img-box .badge {
    color: var(--color-white);
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.img-badge {
    font-size: 0.9rem;
    display: inline-block;
    padding: 0.3rem 0.5rem;
}

.badge .discount {
    background-color: var(--bg-discount);
}

.badge .sostenibilità {
    background-color: var(--bg-sostenibilità);
}

.price {
    color: var(--color-red);
}

.price > span {
    color: black;
    text-decoration: line-through;
}

.img-box-hover {
    position: absolute;
    visibility: hidden;
}

.img-box:hover .img-box-hover {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;

}